@model WebApplication3.Models.User

@{
    ViewBag.Title = "Register";
}
<h2>Register</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(u => u.username)
    @Html.TextBoxFor(u => u.username)
    <br />
    @Html.ValidationMessageFor(u => u.username)
    <br />
    @Html.LabelFor(u => u.password)
    @Html.PasswordFor(u => u.password)
    <br />
    @Html.ValidationMessageFor(u => u.password)
    <br />
    <input type="submit" name="submit" value="Submit" />
}